.DS_Store
.git
.github
config

.jenkins-external
Jenkinsfile
LICENSE
README.md
jenkins-vars.yml
package_versions.txt
readme-vars.yml

selkies-src/*
!selkies-src/addons/
selkies-src/addons/*
!selkies-src/addons/selkies-dashboard/
!selkies-src/addons/selkies-dashboard/**
!selkies-src/addons/gst-web-core/
!selkies-src/addons/gst-web-core/**
